<div class="address-container">
  <div class="address-heading">
    What is your favorite movie?
    <span>(Check all that apply)</span>
  </div>

  <div class="grid-container">
    <div class="input-container">
      <span>Address 1</span>
      <input class="input-styles" placeholder="Address 1" />
    </div>
    <div class="input-container">
      <span>Address 2</span>
      <input
        class="input-styles"
        placeholder="Address 1"
        aria-label="Year of Release"
      />
    </div>
    <div class="location-styles">
      <div>
        <div class="input-container">
          <span>City</span>
          <input class="input-styles" placeholder="City" />
        </div>
      </div>
      <div class="split-half">
        <div class="input-container">
          <span>State</span>
          <input
            class="input-styles"
            placeholder="State"
            aria-label="Year of Release"
          />
        </div>
        <div class="input-container">
          <span>Zip Code</span>
          <input
            class="input-styles"
            placeholder="Zip"
            aria-label="Year of Release"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="optional">
    <button
      class="addmore-button"
      label="Add Favorite Movie"
      aria-label="Add Favorite Movie"
    >
      Add Favorite Movie
    </button>
    <div *ngIf="showAdditionalFields" class="grid-container">
      <div class="input-container">
        <span>Title</span>
        <input class="input-styles" placeholder="RoboCop" />
      </div>
      <div class="input-container">
        <span>Year of Release</span>
        <input class="input-styles" placeholder="1987 not 2014, you monster" />
      </div>
    </div>
  </div> -->
</div>
