<div class="address-container" [formGroup]="form">
  <div class="address-heading">
    What is Jerry Seinfeld’s address in Seinfeld?
  </div>

  <div class="grid-container" formGroupName="address">
    <ng-container *ngFor="let eachField of addressFields">
      <div class="input-container">
        <span>{{ eachField.label }}</span>
        <input
          class="input-styles"
          [placeholder]="eachField.placeHolder"
          [formControlName]="eachField.controlName"
        />
      </div>
    </ng-container>

    <div class="location-styles">
      <div>
        <div class="input-container">
          <span>City</span>
          <input
            class="input-styles"
            placeholder="City"
            formControlName="city"
          />
        </div>
      </div>
      <div class="split-half">
        <ng-container *ngFor="let eachField of locationFields">
          <div class="input-container">
            <span>{{ eachField.label }}</span>
            <input
              class="input-styles"
              [placeholder]="eachField.placeHolder"
              [formControlName]="eachField.controlName"
            />
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
