<section class="home-container">
  <img class="image" src="assets/images/background.png" />
  <div class="hero-section">
    <div class="caption-container">
      <img class="hex" src="assets/images/home-couples.png" />
    </div>
    <div class="caption-container">
      <div class="caption">
        <span>You’ve completed your quiz</span>
        <div>
          We really appreciate that you took the time to log the answers to this
          quiz to the console as a javascript object!
        </div>
        <div class="button-holder">
          <generic-button
            type="primary"
            label="Take me to your leader"
          ></generic-button>
        </div>
      </div>
    </div>
  </div>
</section>
