<div class="dev-container" [formGroup]="form">
  <div class="dev-heading">
    What is your favorite movie?
    <span
      >(If you have more than one favorite movie, `select Add Favorite Movie to
      enter its details. )</span
    >
  </div>

  <div formGroupName="movie">
    <div class="grid-container">
      <ng-container *ngFor="let eachField of movieFields">
        <div class="input-container">
          <span>{{ eachField.label }}</span>
          <input
            class="input-styles"
            [formControlName]="eachField.controlName"
            [placeholder]="eachField.placeHolder"
          />
        </div>
      </ng-container>

      <!-- <div class="input-container">
        <span>Year of Release</span>
        <input
          class="input-styles"
          placeholder="1987 not 2014, you monster"
          aria-label="Year of Release"
        /> -->
      <!-- </div> -->
    </div>
    <div class="optional">
      <button
        class="addmore-button"
        label="Add Favorite Movie"
        aria-label="Add Favorite Movie"
        (click)="toggleAdditionalFields()"
      >
        {{ showAdditionalFields ? "Hide Movie" : "Add Another Movie" }}
      </button>
      <div *ngIf="showAdditionalFields" class="grid-container">
        <ng-container *ngFor="let eachField of alternateFields">
          <div class="input-container">
            <span>{{ eachField.label }}</span>
            <input
              class="input-styles"
              [formControlName]="eachField.controlName"
              [placeholder]="eachField.placeHolder"
            />
          </div>
        </ng-container>
        <!-- <div class="input-container">
          <span>Title</span>
          <input class="input-styles" placeholder="RoboCop" />
        </div>
        <div class="input-container">
          <span>Year of Release</span>
          <input
            class="input-styles"
            placeholder="1987 not 2014, you monster"
          />
        </div> -->
      </div>
    </div>
  </div>
</div>
