<div class="dev-container">
  <div class="dev-heading">
    How long have you been an angular developer?
    <div class="check-container">
      <mat-radio-group
        class="radio-container"
        aria-label="How long have you been an angular developer?"
      >
        <mat-radio-button value="1">0-3 years</mat-radio-button>
        <mat-radio-button value="2">4-6 years</mat-radio-button>
        <mat-radio-button value="2">7 or more years</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
