<section class="home-container">
  <img class="image" src="assets/images/background.png" />
  <div class="hero-section">
    <div class="caption-container">
      <img class="hex" src="assets/images/home-couples.png" />
    </div>
    <div class="caption-container">
      <div class="caption">
        <span>Let’s get started filling out your profile</span>
        <div>
          The best way for us to get you the right kind of help is to know you
          as well as possible.
        </div>
        <div class="button-holder">
          <generic-button
            type="primary"
            navigateTo="/movies"
            label="Start"
            (onClick)="sendToast()"
          ></generic-button>
        </div>
      </div>
    </div>
  </div>
</section>
