<section class="example-container">
  <div class="example-step-navigation-bar">
    <ng-container *ngFor="let step of steps; let i = index">
      <button
        class="example-step"
        [class.example-active]="selectedIndex >= i"
        (click)="selectStepByIndex(i)"
      ></button>
    </ng-container>
  </div>
  <div class="step-indicator">
    {{ selectedIndex + 1 }} of {{ steps.length }}
  </div>

  <div [ngTemplateOutlet]="selected ? selected.content : null"></div>
  <div class="stepper-navigation-holder">
    <div *ngIf="selectedIndex === 0">
      <generic-button
        label="Exit Assessment"
        styleClass="link"
        navigateTo="/"
      ></generic-button>
    </div>

    <div *ngIf="selectedIndex !== 0">
      <button class="link" cdkStepperPrevious>Previous Question</button>
    </div>

    <button
      type="button"
      *ngIf="selectedIndex < steps.length - 1"
      class="generic-button-styles primary"
      (click)="selectStepByIndex(selectedIndex + 1)"
    >
      Next
    </button>
    <generic-button
      *ngIf="selectedIndex === steps.length - 1"
      type="primary"
      label="Submit"
      navigateTo="/thank-you"
      (click)="submitForm()"
    ></generic-button>
    <!-- <button
      *ngIf="selectedIndex === steps.length - 1"
      class="generic-button-styles primary"
      (click)="submitForm()"
    >
      <a class="no-style" href="/thank-you">Submit</a>
    </button> -->
  </div>
</section>
